<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Roll Call</title>
</head>

<!-- used Chat GPT for name suggestions -->

<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <br>

    <div class="home">
        <h1> Welcome to Roll Call!</h1>
        <p>A place where you can creat and save your character sheets in a digital form!</p>
    </div>  
        
</body>
</html>